@import "tailwindcss";

body {
  margin: 0;
  background: #000;
  font-family: 'Inter', sans-serif;
}

.sujoy01 {
  font-family: "Audiowide", sans-serif;
  font-style: normal;
}


.sujoy02 {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}